page-allow-permission {
   
.bannerImage{ width: 100% ; text-align: center }
.bannerImage img{ width: 80% ;  }
.allowText{ font-size: 1.5rem; line-height: 1.5; padding: 20px}
.allowText h2{     text-align: center;   width: 100%; line-height: 2 ; margin-top: 0 }
.allowText h2 strong{    color: #ffc61a;
   background: #101010;
   display: inline-block;
   padding: 10px; line-height: 1;
   border-radius: 8px;}
.allowText h4{     text-align: center;        color: #666;}
.allowText ul{ padding-left:30px}
.allowText ul li{ color: black}
}
