page-driver-charges {
  .list ul{ padding-left:20px}
  .list ul li{ padding-bottom:10px}
  .grid{ background: white}
  .grid h4{     padding: 5px;   text-align: center;   border-bottom: 2px solid rgb(82, 82, 82);   text-transform: uppercase;}
  .grid p{ padding:5px;  margin: 0;   text-indent: 20px; }
}
